<div class="row ">
  <div class="col-md-10">


    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">
            <h4>Transacciones</h4>
          </a></li>
        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">
            <h4>Gastos</h4>
          </a></li>
        <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true">
            <h4>Ingresos</h4>
          </a></li>
      </ul>
      <div class="tab-content ">
        <div class="tab-pane active" id="tab_1">
          <div class="box box-success">
            <div class="box-header">
              <h3 class="box-title">Resumen de gastos e ingresos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead class="inEx">
                  <tr>
                    <th style="width: 10px">#</th>
                    <th style="width: 100px">Fecha</th>
                    <th>Descripción</th>
                    <th>Categoria</th>
                    <th>Cuenta</th>
                    <th>Valor</th>
                    <td style="display:none;">id</td>
                    <th style="width: 20px">Editar</th>
                    <th style="width: 20px">Borrar</th>

                  </tr>
                </thead>
                <tbody>
                  {{#tableMaker data}}
                  {{/tableMaker}}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Resumen de gastos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th style="width: 100px">Fecha</th>
                    <th>Descripción</th>
                    <th>Categoria</th>
                    <th>Cuenta</th>
                    <th>Valor</th>
                    <th style="width: 20px">Editar</th>
                    <th style="width: 20px">Borrar</th>

                  </tr>
                </thead>
                <tbody>


                  {{#expenseTableMaker data}}
                  {{/expenseTableMaker}}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
          <div class="box box-success">
            <div class="box-header">
              <h3 class="box-title">Resumen de ingresos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th style="width: 100px">Fecha</th>
                    <th>Descripción</th>
                    <th>Categoria</th>
                    <th>Cuenta</th>
                    <th>Valor</th>
                    <th style="width: 20px">Editar</th>
                    <th style="width: 20px">Borrar</th>

                  </tr>

                </thead>
                <tbody>

                  {{#incomeTableMaker data}}
                  {{/incomeTableMaker}}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.tab-pane -->
      </div>
      <!-- /.tab-content -->
    </div>




  </div>

  <div class="col-md-2">


    {{#if Card}}

    <div class="row">
      <div class="row">
        <div class="col-md-11">
          <div class="small-box bg-aqua ">
            <div class="inner">
              {{#if incomes.length}}
              {{#balance incomes expenses}}
              {{/balance}}

              {{else}}
              <h3>L 0</h3>
              {{/if}}


              <p>Saldo actual</p>
            </div>
            <div class="icon">
              <i class="ion ion-cash"></i>
            </div>

          </div>
        </div>
        <!-- small box -->

      </div>
      <!-- ./col -->
      <div class="row">
        <!-- small box -->

        <div class="col-md-11">
          <div class="small-box bg-green">
            <div class="inner">
              {{#if incomes.length}}
              {{#incomeTotal incomes}}
              {{/incomeTotal}}
              {{else}}
              <h3>L 0</h3>

              {{/if}}
              <p>Ingresos</p>
            </div>
            <div class="icon">
              <i class="ion ion-arrow-graph-up-right"></i>
            </div>

          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="row">
        <!-- small box -->
        <div class="col-md-11">
          <div class="small-box bg-yellow">
            <div class="inner">
              {{#if expenses.length}}
              {{#expenseTotal expenses}}
              {{/expenseTotal}}
              {{else}}
              <h3>L 0</h3>

              {{/if}}

              <p>Gastos</p>
            </div>
            <div class="icon">
              <i class="ion ion-arrow-graph-down-right"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="row">
        <!-- small box -->
        <div class="col-md-11">
          <div class="small-box bg-red">
            <div class="inner">
              {{#cardTotal data}}
              {{/cardTotal}}
              <p>Tarjetas de crédito</p>
            </div>
            <div class="icon">
              <i class="ion ion-card"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- ./col -->
    </div>

    {{else}}

    <div class="row">
      <div class="row">
        <div class="col-md-11">
          <div class="small-box bg-aqua ">
            <div class="inner">
              {{#if incomes.length}}
              {{#balance incomes expenses}}
              {{/balance}}

              {{else}}
              <h3>L 0</h3>
              {{/if}}


              <p>Saldo actual</p>
            </div>
            <div class="icon">
              <i class="ion ion-cash"></i>
            </div>

          </div>
        </div>
        <!-- small box -->

      </div>
      <!-- ./col -->
      <div class="row">
        <!-- small box -->

        <div class="col-md-11">
          <div class="small-box bg-green">
            <div class="inner">
              {{#if incomes.length}}
              {{#incomeTotal incomes}}
              {{/incomeTotal}}
              {{else}}
              <h3>L 0</h3>

              {{/if}}
              <p>Ingresos</p>
            </div>
            <div class="icon">
              <i class="ion ion-arrow-graph-up-right"></i>
            </div>

          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="row">
        <!-- small box -->
        <div class="col-md-11">
          <div class="small-box bg-yellow">
            <div class="inner">
              {{#if expenses.length}}
              {{#expenseTotal expenses}}
              {{/expenseTotal}}
              {{else}}
              <h3>L 0</h3>

              {{/if}}

              <p>Gastos</p>
            </div>
            <div class="icon">
              <i class="ion ion-arrow-graph-down-right"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <!-- ./col -->
    </div>


    {{/if}}




  </div>
</div>

<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×   </span><span class="sr-only">Close</span>

                </button>
                 <h4 class="modal-title" id="myModalLabel"><Address>Editar transacción</Address></h4>

            </div>
            <div class="modal-body modal-unique"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-block btn-success btn-lg">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>